.header
    height 300px
    text-align center
    display flex
    justify-content center
    align-items center
    max-width 800px
    width 100%
    margin 0 auto

    @media (max-width: 660px)
        flex-direction column
        height 400px

    &__logo
        width 200px
        height 200px
        object-fit cover
        animation fly 2s ease-in-out infinite

    &__title
        font-size 5rem
        margin 0

@keyframes fly
    0%
        transform translate3d(0px, 0px, 0)
    50%
        transform translate3d(0px, -2px, 0)
    100%
        transform translate3d(0px, 0px, 0)
