$color = rgb(55, 121, 188)

head,
body
    width 100%
    height 100%
    margin 0
    padding 0
    font 16px -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif
    line-height 1.15
    color rgb(40, 44, 52)
    overflow-x hidden

a
    color $color

button
    cursor pointer
    margin 0
    border 0
    outline none
    user-select none
    background-color $color
    box-shadow 0 1px 5px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12)
    font-weight 500
    border-radius 2px
    text-transform uppercase
    padding 8px 16px
    font-size 0.875rem
    box-sizing border-box
    min-height 36px
    color #fff
    margin-left 16px

input
    padding 8px 16px
    min-height 36px
    box-sizing border-box
    border 0
    outline none
    font-size 0.875em
    max-width 150px
    border-bottom 2px solid $color
