.example
    padding 0 20px

    &:not(:first-child)
        margin-top 40px

    &__description
        line-height 1.7

    &__demo
        box-shadow 0 10px 20px rgba(0 ,0, 0, .19), 0 6px 6px rgba(0, 0, 0, .23)
        display flex
        margin-top 10px

        @media (max-width: 720px)
            flex-direction column

    &__code
        color #f8f8f2
        font 13px source-code-pro,Menlo,Monaco,Consolas,Courier New,monospace
        line-height 20px
        overflow-x scroll
        padding: 20px
        background #282c34
        max-height 340px
        margin 0
        flex-grow 1

    &__result
        background #fefefe
        padding 20px
        width 250px

        @media (max-width: 720px)
            width auto
